/* Bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* OpenLayers */
@import "~ol/ol.css";

/* Angular Material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


/* Tus estilos personalizados */